/* SignIn.css */
.flex::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #45528c; /* Semi-transparent blue overlay */
    z-index: -1; /* Place the overlay behind the content */
  }
  